.App {
  text-align: center;
}
body {
  margin:0;
  padding:0;
  background-image: linear-gradient(to right,#a592dc47,#5f60b165,#442a7142,#3a12545a);
}
.hours-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2em;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  width: 7em;
  height: 2em;
  text-align: center;
  font-size: 30px;
}
.add-button {
  margin: 1em;
  width: 6em;
  height: 3em;
  font-size: 20px;
}
.desc {
  width: 40em;
  height: 2em;
}
.alarm-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.alarm-dateTime {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30em;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}