.App {
  text-align: center;
}

.hours-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em;
  border: 3px solid red;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  width: 7em;
  height: 2em;
  text-align: center;
  font-size: 30px;
}
.add-button {
  margin: 1em;
  width: 6em;
  height: 3em;
  font-size: 20px;
}